@import "tailwindcss";
@plugin "daisyui";
@plugin 'daisyui/theme' {
  name: "light";

  --color-primary: #41c1a5;
}

@theme {
  --font-rubik: "Rubik";
  /* colors */
  --color-custom-green: #41c1a5;
  --color-custom-yellow: #ffce5d;
  --color-light-custom-green: #e5fbf3;
  --color-light-custom-yellow: #f7fae7;
  --color-light-custom-rose: #fbe5ec;
  --color-light-custom-purple: #e9e6f9;
  --color-light-custom-blue: #90cbfb;
}

* {
  font-family: Poppins;
}
